.synthesisButtonContainer{
    // position: absolute;
    left : 100px;
}

.menuContainer{
    position: absolute;
    display: inline-block;
    right: 10px;
    top : 45vh;
    z-index: 15;
    transform: rotate(-90deg);
    .menu{
        font-weight: bold;
        background-color: lime;
        padding: 10px 15px;
        border-radius: 10px 10px 0px 0px;
        border: none;
    }
    &:hover{
        opacity: .7;
    }
}

.sideBarContainer{
    position: absolute;
    top : 30vh;
    right : 30px;
    z-index: 20;

    .sideBar{
        // color : red;
        background-color: rgb(128, 128, 128);
        border: solid 2px rgb(170, 168, 168);
        height: 200px;
        width: 200px;
        border-radius: 10px 0px 10px 10px;
        border-radius: 10px;
        .crossIconContainer{
            text-align: right;

            .crossIcon{
                margin : 5px;
                &:hover{
                    opacity: .6;
                }
            }
        }
    }
    .stateNodeContainer, .ioNodeContainer{
        margin: 5px;
        // background-color: blue;
        .inNodeContainer , .outNodeContainer, .radiusContainer{
            // background-color: green;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            .arrowIcon{
                // color: brown;
                padding: 5px;
                background-color: rgb(222, 222, 231);
                border-radius: 15px;
                margin: 0px 2px;
                &:hover{
                    opacity: .7;
                }
            }
        }
        .colorContainer{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            input{
                width: 30px;
            }
            // background-color: red;
            .colorBlockContainer{
                // background-color: red;
                height: 30px;
                display: flex;
                align-items: center;
                .colorBlock{
                    margin-left: 5px;
                    display: inline-block;
                    height: 15px;
                    width: 15px;
                    border-radius: 10px;
                    border: solid 1px black ;
                }
            }
            
        }

    }
    .ioNodeContainer{
        .outputContainer{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            input{
                width: 30px;
            }
        }
    }
}


.synthesisContainer{
    // margin: 10px;
    details{
        text-align: center;
        
        // background: hsla(186, 33%, 94%, 1);

        // background: linear-gradient(90deg, hsla(186, 33%, 94%, 1) 0%, hsla(216, 41%, 79%, 1) 100%);

        // background: hsla(259, 84%, 78%, 1);

        // background: linear-gradient(90deg, hsla(259, 84%, 78%, 1) 0%, hsla(206, 67%, 75%, 1) 100%);
        
        // background: hsla(211, 66%, 87%, 1);

        // background: linear-gradient(90deg, hsla(211, 66%, 87%, 1) 0%, hsla(348, 67%, 88%, 1) 50%, hsla(272, 26%, 72%, 1) 100%);
    
        // background: hsla(139, 72%, 83%, 1);

        // background: linear-gradient(90deg, hsla(139, 72%, 83%, 1) 0%, hsla(229, 89%, 62%, 1) 100%);
        
    }
    summary{
        padding: 20px;
        margin: 10px;
        background-color :  #1a7e3b;
        // background-color: rgba(155, 23, 23, 0.308);
        color: white;
        text-align: start;
        
        // background: hsla(186, 33%, 94%, 1);

        // background: linear-gradient(90deg, hsla(186, 33%, 94%, 1) 0%, hsla(216, 41%, 79%, 1) 100%);


        // background: hsla(259, 84%, 78%, 1);

        // background: linear-gradient(90deg, hsla(259, 84%, 78%, 1) 0%, hsla(206, 67%, 75%, 1) 100%);

        // background: hsla(139, 72%, 83%, 1);

        // background: linear-gradient(90deg, hsla(139, 72%, 83%, 1) 0%, hsla(229, 89%, 62%, 1) 100%);
        
    }
    
    .stateTableContainer, .stateAssignmentContainer, .transitionTableContainer, .implicationTableContainer, .closureTableContainer, .reducedStateContainer, .stateTableInputContainer{
        display: inline-block;
        table, th, td{
            border: solid 1px black;
            border-collapse: collapse;
            padding: 10px;
            text-align: center;
        }
        table{
            margin: 20px;
            border: none;
        }
        input{
            // background-color: red;
            border: none;
            outline : none;
            border-bottom: 1px solid black;
            &:focus{
                border-bottom: 1px solid lightblue;
            }
            &:disabled{
                background-color: white;
            }

        }

    }
    
    
    .transitionTableContainer{
        padding-bottom: 20px;
    }
    

    .functionBlockContainer{
        // background-color: green;
        padding-left: 20px;
        text-align: center;
        summary{
            background-color :mediumaquamarine ;
            text-align: start;
        }
        .fucntionBlock{
            padding: 10px;
        }
    }

    .backButtonContainer{
        padding: 20px;
        text-align: center;
        button{
            height: 40px;
            width: 120px;
            background-color :palegreen;
            color: black;
            border-color: cadetblue;
        }
    }
    
}

.processingTextContainer{
    display: flex;
    flex-direction: column;
    height: 80vh;
    align-items: center;
    justify-content: center;
    color : gray;
    font-size: 20px;
}

.kMapContainer {
    .rowLabels , .colLabels{
        border : none;
        padding: 2px;
        
    }
    .rowVars, .colVars{
        border : none;
        padding: 1px;
    }
    caption{
        text-align: center;
        // background-color: red;
        padding: 10px;
        font-size: 18px;
        font-weight: bold;
    }
    display: inline-block;
    table, th, td{
        border: solid 1px black;
        border-collapse: collapse;
        padding: 10px;
        text-align: center;
        // border-color: white;
    }
    
    table{
        margin: 20px;
        border: none;
        display: inline-block;
    }
    table{
        // background-color: rgba(255, 255, 255, 0.35);
        padding-right: 40px;
        padding-bottom: 40px;
        padding-left: 20px;
        border-radius: 10px;
        border: 2px inset lightblue;
        background-color: rgba(0, 206, 209, 0.144);
        // color: white;
    }
    
}

.tabulationTableContainer{
    text-align: center;
    table{
        display: inline-block;
        border-collapse: collapse;
        border: none;
        
    }
    td, th{
        
        padding: 20px;
        border: 1px solid black;
        border-collapse: collapse;
        text-align: left;
    }
    th{
        text-align: center;
    }
}
.cellTableContainer{
    text-align: left;
    // background-color: red;
    th, td{
        padding: 0px;
        border: none;
        border: 1px solid black;
        border-left: 0px;
        // border-top: 0px;
        min-width: 30px;
        // background-color: blue;
    }
    th{
        border: 0px;
        width: 30px;
        font-size: 12px;
        
    }
    td{
        text-align: center;
    }
    table{
        border: none;
        display: inline-block;
    }
    // tr{
    //     display: flex;
    //     flex-direction: row;
    // }
}

.contentContainer{
    margin-top: 100px;
}
