

.canvas{  
    width: calc(100vw - 50px);
    height : calc(100vh - 90px);
    // width: 95vw;
    // height : 95vh;
    grid-column: 1;
    grid-row: 1;
    padding: 0px;
    margin: 0px;
    border: 0px ;
    border: inset 3px rgb(132, 172, 233);
}
.canvasContainer{
    display: grid;
    align-items: center;
    justify-content: center;


}
.addNodeButtonContainer, .synthesisButtonContainer{
    position: absolute;
    bottom : 50px;
    right : 100px;
    display: inline-block;
    z-index: 10;
    .addNodeButton, .synthesisButton{

        &:hover {
            opacity: .7;
        }
        color: black;
        font-weight: bold;
        background-color: lime;
        width: 100px;
        height: 40px;
        border-radius: 20px;
        margin: 0px;
        padding: 0px;
        border: none;
        
    }
}

.synthesisButtonContainer{
    // position: absolute;
    left : 100px;
}

.menuContainer{
    position: absolute;
    display: inline-block;
    right: 10px;
    top : 45vh;
    z-index: 15;
    transform: rotate(-90deg);
    .menu{
        font-weight: bold;
        background-color: lime;
        padding: 10px 15px;
        border-radius: 10px 10px 0px 0px;
        border: none;
    }
    &:hover{
        opacity: .7;
    }
}

.sideBarContainer{
    position: absolute;
    top : 30vh;
    right : 30px;
    z-index: 20;

    .sideBar{
        // color : red;
        background-color: rgb(128, 128, 128);
        border: solid 2px rgb(170, 168, 168);
        height: 200px;
        width: 200px;
        border-radius: 10px 0px 10px 10px;
        border-radius: 10px;
        .crossIconContainer{
            text-align: right;

            .crossIcon{
                margin : 5px;
                &:hover{
                    opacity: .6;
                }
            }
        }
    }
    .stateNodeContainer, .ioNodeContainer{
        margin: 5px;
        // background-color: blue;
        .inNodeContainer , .outNodeContainer, .radiusContainer{
            // background-color: green;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            .arrowIcon{
                // color: brown;
                padding: 5px;
                background-color: rgb(222, 222, 231);
                border-radius: 15px;
                margin: 0px 2px;
                &:hover{
                    opacity: .7;
                }
            }
        }
        .colorContainer{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            input{
                width: 30px;
            }
            // background-color: red;
            .colorBlockContainer{
                // background-color: red;
                height: 30px;
                display: flex;
                align-items: center;
                .colorBlock{
                    margin-left: 5px;
                    display: inline-block;
                    height: 15px;
                    width: 15px;
                    border-radius: 10px;
                    border: solid 1px black ;
                }
            }
            
        }

    }
    .ioNodeContainer{
        .outputContainer{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            input{
                width: 30px;
            }
        }
    }
}

.topBarContainer{
    // background-color: red;
    height: 40px;
    display: flex;
    align-items: center;
    .topBar{
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        justify-content: space-between;
        // background-color: red;
        // background-color: blue;
        padding-left: 25px;
        padding-right: 25px;
    }
    // .grabIcon{
    //     color: black;
    //     font-size : 25px;
    //     padding: 5px;
    //     &:hover{
    //         opacity: .6;
    //     }
    //     border-radius: 4px;
    // }
    // .grabIconActive{
    //     background-color : rgb(154, 154, 240);
    // }
    .selectIcon , .edgeIcon , .grabIcon{
        color: black;
        font-size : 25px;
        padding: 5px;
        width: 30px;
        &:hover{
            opacity: .6;
        }
        border-radius: 4px;
    }
    .selectIconActive ,.edgeIconActive, .grabIconActive{
        background-color : rgb(154, 154, 240);
    }

    .edgeIcon{
        text-align: center;
    }

    // .edgeIcon{
    //     padding-left: 10px;
    //     padding-right: 10px;
    // }

    .leftSideContainer{
        display: flex;
        flex-direction: row;
    }
    // .rightSideContainer{
    //     // background-color: red;
    // }
    .inputVarContainer{
        padding : 5px;
        label{
            padding-right: 5px;
        }
        input{
            width: 30px;
        }
    }
}

.stateTableInputContainer{
    text-align: center;
    
    table, th, td{
        border: solid 1px black;
        border-collapse: collapse;
        // padding: 10px;
        text-align: center;
    }
    table{
        margin: 20px;
        border: none;
        display: inline-block;
    }
    th{
        padding: 10px;
    }
    input{
        margin: 10px;
        // padding: 10px;
        border: none;
        border-bottom: 1px solid;
        &:focus{
            border: none;
            // color : red;
            outline: none;
            border-bottom: 1px solid blue;
        }
    }
    .stateEntryTd{
        input{
            width: 40px;
            height: 20px;
        }
    }
    .entryTd{
        input{
            width: 40px;
            height: 20px;
        }
        .outputEntryInput{
            width: 30px;
        }
    }
    .errorTd{
        .errorInput{
            border-bottom: 1px solid red;
        }
    }
    .errorMessageContainer{
        font-size: 12px;
        color: rgb(243, 38, 38);
    }
    
}


.synthesisContainer{
    margin: 10px;
    details{
        text-align: center;
    }
    summary{
        padding: 20px;
        margin: 10px;
        background-color :  #1a7e3b;
        color: white;
        text-align: start;
    }
    
    .stateTableContainer, .stateAssignmentContainer, .transitionTableContainer, .implicationTableContainer, .closureTableContainer, .reducedStateContainer, .stateTableInputContainer{
        display: inline-block;
        table, th, td{
            border: solid 1px black;
            border-collapse: collapse;
            padding: 10px;
            text-align: center;
        }
        table{
            margin: 20px;
            border: none;
        }
    }
    
    
    .transitionTableContainer{
        padding-bottom: 20px;
    }
    

    .functionBlockContainer{
        // background-color: green;
        padding-left: 20px;
        text-align: center;
        summary{
            background-color :mediumaquamarine ;
            text-align: start;
        }
        .fucntionBlock{
            padding: 10px;
        }
    }

    .backButtonContainer{
        padding: 20px;
        text-align: center;
        button{
            height: 40px;
            width: 120px;
            background-color :palegreen;
            color: black;
            border-color: cadetblue;
        }
    }
    
}

.processingTextContainer{
    display: flex;
    flex-direction: column;
    height: 80vh;
    align-items: center;
    justify-content: center;
    color : gray;
    font-size: 20px;
}

.kMapContainer {
    .rowLabels , .colLabels{
        border : none;
        padding: 2px;
        
    }
    .rowVars, .colVars{
        border : none;
        padding: 1px;
    }
    caption{
        text-align: start;
    }
    display: inline-block;
    table, th, td{
        border: solid 1px black;
        border-collapse: collapse;
        padding: 10px;
        text-align: center;
    }
    
    table{
        margin: 20px;
        border: none;
        display: inline-block;
    }
    
}

.tabulationTableContainer{
    text-align: center;
    table{
        display: inline-block;
        border-collapse: collapse;
        border: none;
        
    }
    td, th{
        
        padding: 20px;
        border: 1px solid black;
        border-collapse: collapse;
        text-align: left;
    }
    th{
        text-align: center;
    }
}
.cellTableContainer{
    text-align: left;
    // background-color: red;
    th, td{
        padding: 0px;
        border: none;
        border: 1px solid black;
        border-left: 0px;
        // border-top: 0px;
        min-width: 30px;
        // background-color: blue;
    }
    th{
        border: 0px;
        width: 30px;
        font-size: 12px;
        
    }
    td{
        text-align: center;
    }
    table{
        border: none;
        display: inline-block;
    }
    // tr{
    //     display: flex;
    //     flex-direction: row;
    // }
}