
$contentPaddingTop : 60px;
$breakpoint : 600px;
$footerHeight : 100px;

.root{
    
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;

}

.contentContainer{
    // padding-top: 5px;
    padding-top: $contentPaddingTop;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    // overflow: hidden;
    
}

.contentHeight{
    height: calc(100% - $footerHeight - $contentPaddingTop);

}


.header{


    background: hsla(186, 33%, 94%, 1);

    background: linear-gradient(90deg, hsla(186, 33%, 94%, 1) 0%, hsla(216, 41%, 79%, 1) 100%);

    position: fixed;
    top: 0px;
    padding: 20px;
    width: 100%;
    // background-color: gray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // align-items: center;
    @media (max-width : $breakpoint){
        display: block;
            padding: 7.5px;
            align-items: center;
        // position: static;
    }
    .logoContainer{
        @media (max-width : $breakpoint) {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
    }
    .navigationLinksContainer{
        user-select: none;
        display: flex;
        flex-direction: row;
        @media (max-width : $breakpoint){
            display: block;
        }
        & div{
            width: 200px;
        }
        // .combinationalOptionsContainer, .sequentialOptionsContainer{
        //     background-color: blue;
        //     & div{
        //         background-color: green;
        //     }
        // }
    }
    .noneDisplay{
        display: none;
    }
    .menuButtonContainer{
        margin-right: 20px;
        .menuIcon{
            height: 20px;
            width: 20px;
        }
        padding: 10px;
        border-radius: 10px;
        

    }
    .pressed{
        background-color: lightblue;
    }
    .rotateArrow{
        transform: rotate(180deg);
    }
}
.footer{
    height: $footerHeight;
    background-color: red;
    padding: 20px;
    background-color: black;
    color: white;
    text-align: center;
    .linksContainer{
        display: flex;
        flex-direction: row;
        align-items: center;
        // justify-content: center;
        .facebookIcon, .githubIcon{
            // padding: 10px;
            margin: 2px 5px;
            color: white !important;
            font-size: 2em;
        }
    }
}

.cardContainer{
    text-align: left;
    display: inline-block;
}
