.root{
    background-color: darkturquoise;
    background: hsla(210, 90%, 80%, 1);

    background: linear-gradient(90deg, hsla(210, 90%, 80%, 1) 0%, hsla(212, 93%, 49%, 1) 100%);
 
    background: hsla(221, 59%, 75%, 1);

background: linear-gradient(90deg, hsla(221, 59%, 75%, 1) 0%, hsla(216, 40%, 58%, 1) 100%);

background: hsla(152, 100%, 50%, 1);

background: linear-gradient(0deg, hsla(152, 100%, 50%, 1) 0%, hsla(170, 98%, 53%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);
background: hsla(221, 45%, 73%, 1);

background: linear-gradient(90deg, hsla(221, 45%, 73%, 1) 0%, hsla(220, 78%, 29%, 1) 100%);

background: hsla(221, 45%, 73%, 1);

background: linear-gradient(0deg, hsla(221, 45%, 73%, 1) 0%, hsla(220, 78%, 29%, 1) 100%);
}

.sequentialTitle{
    color: white;
}

.cardsContainer{
    // background-color: red;
    margin: 10px 10px;
    text-align: center;
}
.card{
    // background-color: blue;
    display: flex;
    flex-direction: column;
    display: inline-block;
    // padding: 5px;
    margin: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    &:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
      }
    // background-color: #1a7e3b;

}

.cardBody{
    // background-color: red;
    // background-color: white;
    flex-grow: 1;
    text-align: center;
}

.cardImageContainer{
    padding: 2px;
    // background-color: #1a7e3b ;
    background-color: rgba(36, 212, 243, 0.438);
    border-radius: 2px 2px 0px 0px;
    padding-bottom: 10px;
}

.cardImage{
    width: 200px;
}

// .sequentialTitle{
//     // background-color: red;
//     // padding: 3px;
//     text-align: center;
//     // color: #680707;
// }
.modeContainer, .produceContainer , .drawStateDiagramContainer , .implicantsCotainer,
 .simplifyContainer, .kmapContainer, .tabulationContainer, .demosContainer{
    // background-color: red;
    padding: 20px;
    text-align: center;
    // background-color: red;
    // background-color: #add8e6;
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 3px;
    margin: 2vw;
}

.modeContainer , .produceContainer>.title, .simplifyContainer, .implicantsCotainer{

    font-weight: bold;
    font-size: 25px;
}
.drawStateDiagramContainer, .kmapContainer, .tabulationContainer{
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 25px;
    align-items: center;
    a:visited{
        color: black;
    }
    max-width: 500px;

    @media screen and (max-width : 600px) {
        flex-direction: column;
        font-size: medium;
        div:first-child{
            // background-color: red;
            margin: 5px;
        }
    }
}

.sequentialContainer, .combinationalContainer{
    text-align: center;
}
.videoCaption{
    // background-color: red;
    padding: 10px;
    font-weight: bold;
}