.root{
    margin: 10px;
    text-align: center;
}
.variablesInputContainer, .termContainer, .dontCareContainer{
    // background-color: red;
    display: inline-block;
    padding: 10px;
    label{
        padding: 10px;
    }
    input{
        margin-left: 10px;
        outline : none;
        border: none;
        border-bottom: 1px solid rgb(146, 143, 143);
        &:focus{
            border-bottom: 1px solid lightblue;
        }
    }

    margin: 10px;
    // border: 2px inset lightslategray;
}
.termContainer{
    // display: inline-block;
    select{
        border: none;
        border-bottom: 1px solid rgb(153, 149, 149);
    }
}
.errorTextContainer{
    color : red;
    font-size: 12px;
}
.buttonContainer{
    text-align: center;
    button{
        padding: 5px 15px;
        background-color: rgb(11, 94, 32);
        color: white;
        
    }
}
.mapContainer{
    text-align: center;
}



.tabulationTableContainer{
    margin-top: 20px;
    text-align: center;
    table{
        display: inline-block;
        border-collapse: collapse;
        border: none;
        
    }
    td, th{
        
        padding: 20px;
        border: 1px solid black;
        border-collapse: collapse;
        text-align: left;
    }
    th{
        text-align: center;
    }
}
.cellTableContainer{
    text-align: left;
    // background-color: red;
    th, td{
        padding: 0px;
        border: none;
        border: 1px solid black;
        border-left: 0px;
        // border-top: 0px;
        min-width: 30px;
        // background-color: blue;
    }
    th{
        border: 0px;
        width: 30px;
        font-size: 12px;
        
    }
    td{
        text-align: center;
    }
    table{
        border: none;
        display: inline-block;
    }
    // tr{
    //     display: flex;
    //     flex-direction: row;
    // }
}
