$smallScreen : 820px;
$fontSize : 1.1em;
.root{
    padding: 10px;
    text-align: center;
    background: hsla(221, 45%, 73%, 1);

    background: linear-gradient(0deg, hsla(221, 45%, 73%, 1) 0%, hsla(220, 78%, 29%, 1) 100%);

    flex-grow: 1;
    min-width: fit-content;
}


.introContainer{
    // background-color: lightblue;
    background-color: rgba(255, 255, 255, 0.25);
    padding: 20px;
    margin: 10px;
    div{
        font-size: $fontSize;
    }
    border-radius: 3px;
    min-height: 20vh;
    
    h1{
        color: white;
    }    
    
    // color: white;
    
}

.inputsContainer{
    // background-color: red;
    @media screen and (max-width : $smallScreen) {
        display: flex;
        flex-direction: column;
    }
}
.variablesInputContainer, .termContainer, .dontCareContainer, .optionsContainer, .inputContainer,
 .outputsContainer, .statesContainer, .modeContainer{

    
    // background-color: red;
    background-color: red;
    // background-color: lightblue;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 3px;
    display: inline-block;
    padding: 20px 10px;
    width: 400px;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    // width: 180px;
    label{
        // padding: 10px;
        font-size: $fontSize;
        // width: 80px;
    }
    input{
        font-size: $fontSize;
        width: 120px;
        margin-left: 10px;
        outline : none;
        border: none;
        border-bottom: 1px solid black;
        &:focus{
            border-bottom: 1px solid white;
        }
        background-color: transparent;
    }
    select{
        font-size: $fontSize;
        background-color: transparent;
        border: none;
        
    }

    
    margin: 10px;

    @media screen and (max-width : $smallScreen) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: unset;
    }
    // border: 2px inset lightslategray;
}
.termContainer{
    // display: inline-block;
    select{
        border: none;
        border-bottom: 1px solid rgb(153, 149, 149);
    }
}
.errorTextContainer{
    // color : red;
    color: white;
    font-size: 12px;
}
.buttonContainer{
    text-align: center;
    button{
        padding: 5px 15px;
        background-color: rgb(11, 94, 32);
        color: white;
        font-size: $fontSize;
        
    }
}
.mapContainer{
    text-align: center;
}



.tabulationTableContainer{
    margin : 20px;
    text-align: center;
    @media screen and (max-width : $smallScreen) {
        text-align: left;
    }

    table{
        display: inline-block;
        border-collapse: collapse;
        border: none;
        
    }
    td, th{
        
        padding: 20px;
        border: 1px solid black;
        border-collapse: collapse;
        text-align: left;
    }
    th{
        text-align: center;
    }
}
.cellTableContainer{
    text-align: left;
    // background-color: red;
    th, td{
        padding: 0px;
        border: none;
        border: 1px solid black;
        border-left: 0px;
        // border-top: 0px;
        min-width: 30px;
        // background-color: blue;
    }
    th{
        border: 0px;
        width: 30px;
        font-size: 12px;
        
    }
    td{
        text-align: center;
    }
    table{
        border: none;
        display: inline-block;
    }
    // tr{
    //     display: flex;
    //     flex-direction: row;
    // }
}
.columnTableContainer{
    // background-color: red;
    display: inline-flex;
    // background-color: red;
    >table{
        border-right: none;
    }
}
// .columnTable{

// }

.equationAndImplicationsContainer{
    // background-color: lightblue;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 10px;
    margin: 10px;
    font-size: 1.1em;
    border-radius: 3px;
    min-height: 10vh;
}