
.root{
    padding : 10px;
    // width: 100vw;
    text-align: center;
    background: hsla(221, 45%, 73%, 1);

    background: linear-gradient(0deg, hsla(221, 45%, 73%, 1) 0%, hsla(220, 78%, 29%, 1) 100%);

    flex-grow: 1;
    min-width: fit-content;
    // overflow-x: auto;
}

.stateTableInputContainer{
    text-align: center;
    // background-color: red;
    background-color: rgba(255, 255, 255, 0.3);
    margin: 10px;
    border-radius: 3px;
    table, th, td{
        border: solid 1px black;
        border-collapse: collapse;
        // padding: 10px;
        text-align: center;
    }
    table{
        margin: 20px;
        border: none;
        display: inline-block;
    }
    th{
        padding: 10px;
    }
    input{
        margin: 10px;
        // padding: 10px;
        border: none;
        border-bottom: 1px solid;
        // color: white;
        &:focus{
            border: none;
            // color : red;
            outline: none;
            border-bottom: 1px solid white;
        }
        background-color: transparent;
    }

    
    .stateEntryTd{
        input{
            width: 40px;
            height: 20px;
        }
    }
    .entryTd{
        input{
            width: 40px;
            height: 20px;
        }
        .outputEntryInput{
            width: 30px;
        }
    }
    .errorTd{
        .errorInput{
            border-bottom: 1px solid red;
        }
    }
    
    
}

.errorMessageContainer{
    font-size: 12px;
    // color: rgb(243, 38, 38);
    color: white;
}

.inputsContainer, .outputsContainer, .statesContainer{
    // background-color: red;
    display: inline-block;
    padding: 10px;
    label{
        padding: 10px;
    }
    input{
        margin-left: 10px;
        outline : none;
        border: none;
        border-bottom: 1px solid rgb(146, 143, 143);
        &:focus{
            border-bottom: 1px solid lightblue;
        }
    }

    margin: 10px;
    // border: 2px inset lightslategray;
}

.buttonContainer{
    text-align: center;
    button{
        padding: 5px 15px;
        background-color: rgb(11, 94, 32);
        color: white;
        
    }
}